numpy == 1.23.1
pandas == 1.4.3
openpyxl == 3.0.9
pymongo == 4.3.2
python-dotenv == 0.21.0
python-multipart == 0.0.5
fastapi == 0.79.0
gunicorn == 20.1.0
uvicorn[standard]
python-jose[cryptography]
pytz